@model IEnumerable<KeywordsApp.Models.Keyword.KeywordEntity>

<div class="container">
    <div class="row">
        @foreach (var keyword in Model)
        {
            <div class="keyword col-lg-2 col-md-3 col-sm-4">
                @keyword.Name
            </div>
        }
    </div>
</div>
