@model IEnumerable<KeywordViewModel>
<h2>Last parsed keywords:</h2>
<div id="parsedKeywordsListContainer" class="row">
    @foreach (var keyword in Model)
    {
        <partial name="_Details" model=keyword />
    }
</div>
<a href="/Keyword/Index" class="btn btn-primary mt-2">All Keywords</a>