@model KeywordViewModel
@{
    ViewData["Title"] = "Home";
}

<section id="keywordsList">
    <h2>Keywords:</h2>
    <div class="mb-4">
        @if(Model.Keywords.Count() == 0){
            <div class="alert alert-info">You do not have any keyword yet. 
                To start, <a href="/File/Index" title="Upload a CSV File first"> upload a CSV file here</a>.</div>
        }
        else {
            @foreach (var group in Model.GroupedByOrderKey)
            {
                <h1 class="display-4">
                <small class="text-muted">@group.Key</small>
                </h1>
                @await Html.PartialAsync("_KeywordsList", group)
            }
        }
    </div>
    <nav class="mt-2 mb-2">
        @Html.PagedListPager(Model.Keywords, page => Url.Action("Index", new { page, Model.OrderBy }),Model.PagedListRenderOptions)
    </nav>
</section>
