@model KeywordListViewModel
@{
    ViewData["Title"] = "List";
}
@if(Model.FileId > 0){
    <section id="keywordsListIntro" data-load-ajax="/File/HeaderIntro?fileId=@Model.FileId">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </section>
}
<section id="keywordListSearchForm">
    <div class="row">
        <div class="col-lg-9 col-md-8 mt-sm-3 mt-md-0">
            @{
                var formArg = Model.FileId > 0 ? string.Format("&fileId={0}",Model.FileId):"";
                formArg += string.IsNullOrEmpty(Model.Search) ? "" :string.Format("&search={0}",Model.Search);
            }
            @if(Model.OrderBy != KeywordOrderBy.NameAsc){
                <a href="/Keyword/Index?orderby=NameAsc@(formArg)" title="Order by Name ascending"><i class="fas fa-sort-alpha-down"></i></a>
            }
            @if(Model.OrderBy == KeywordOrderBy.NameAsc){
                <a href="/Keyword/Index?orderby=NameDesc@(formArg)" title="Order by Name descending"><i class="fas fa-sort-alpha-down-alt"></i></a>
            }
            @if(Model.OrderBy != KeywordOrderBy.StatusAsc){
            <a href="/Keyword/Index?orderby=StatusAsc@(formArg)" title="Order by status - failed, pending then success"><i class="fas fa-check"></i><i class="fas fa-sort-down"></i></a>
            }
            @if(Model.OrderBy == KeywordOrderBy.StatusAsc){
            <a href="/Keyword/Index?orderby=StatusDesc@(formArg)" title="Order by status - success, pending then failed"><i class="fas fa-check"></i><i class="fas fa-sort-up"></i></a>
            }
            <button class="btn btn-outline-primary ml-2" data-toggle="expandview">
                <i class="fas fa-eye-slash"></i> Hide results
            </button>
        </div>
        <div class="col-lg-3 col-md-4 mb-3 mb-md-0">
            <partial name="_SearchForm" model=Model />
        </div>
    </div>
    
</section>
<section id="keywordsList">
    <div class="mb-4">
        @if(Model.Keywords.Count() == 0){
            <div class="alert alert-info mt-3">No maching results. 
                To parse new keywords, <a href="/File/Index" title="Upload a CSV File first"> upload a CSV file here</a>.</div>
        }
        else {
            @foreach (var group in Model.GroupedByOrderKey)
            {
                <h1 class="display-4">
                <small class="text-muted">@group.Key</small>
                </h1>
                <partial name="_KeywordsList" model=group />
            }
        }
    </div>
    @if(Model.Keywords.PageCount > 1){
        <nav class="mt-2 mb-2">
            @Html.PagedListPager(Model.Keywords, page => Url.Action("Index", new { page, Model.OrderBy, Model.Search }),Model.PageListOptions.PagedListRenderOptions)
        </nav>
    }
</section>
