@model KeywordsApp.Models.File.FileEntity

<div class="card w-100">
  <div class="card-body">
    <h5 class="card-title">@Model.Name</h5>
    <p class="card-text">@Model.CreatedDate.ToString("d")</p>
  </div>
</div>