@model List<KeywordsApp.Models.File.FileViewModel>
@{
    ViewData["Title"] = "My Files";
}

<section id="uploadFormContainer">
    <partial name="_UploadForm" model=null />
</section>
<section id="csvFilesList" data-single-load="/File/Details" >
    <h2>Last uploaded files:</h2>
    <div id="csvFilesListContainer" class="row">
        @foreach (var csvFile in Model)
        {
            <partial name="_Details" model=csvFile />
        }
    </div>
    <a href="/File/Search" class="btn btn-primary">All files</a>
</section>
<section id="parsedKeywordsList" class="pt-3" data-load-ajax="/Keyword/LastParsed" data-single-load="/Keyword/Details">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</section>