@model List<KeywordsApp.Models.File.FileViewModel>
@{
    ViewData["Title"] = "Home";
}

<section id="uploadFormContainer">
    <partial name="_UploadForm" />
</section>
<section id="csvFilesList">
    
</section>