@{
    ViewData["Title"] = "Home";
}

<div class="row">
    @using(Html.BeginForm("Upload", "File", FormMethod.Post, new{@class = "dropzone",id = "dropzone-form"}))
    {
        <label class="btn" for="csvFileInput">Upload a new CSV file</label>
        <input type="file" class="form-control" id="csvFileInput" name="csvfile" hidden />
    }
</div>
