@model List<KeywordsApp.Models.File.FileViewModel>
@{
    ViewData["Title"] = "Home";
}

<section id="uploadFormContainer">
    <partial name="_UploadForm" model=null />
</section>
<section id="csvFilesList">
    <h2>Last files uploaded:</h2>
    <div class="row">
    @foreach (var csvFile in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">@csvFile.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@csvFile.CreatedDate</h6>
                    <p class="card-text">Keywords preview? + status or progress bar?</p>
                    <a href="/Keyword/Index?fileId=@(csvFile.FileId)" class="card-link">View all keywords</a>
                </div>
            </div>
        </div>
    }
    </div>
    <a href="#" class="btn btn-primary">All files</a>
</section>
<section id="parsedKeywordsList" class="pt-3">
    <h2>Last Keyword parsed:</h2>
    <a href="/Keyword/Index" class="btn btn-primary mt-2">All Keywords</a>
</section>
