<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - keywords</title>
    <link rel="stylesheet" href="~/lib/md-bootstrap-5/css/mdb.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-5.15.3-web/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-5.15.3-web/css/solid.min.css" />
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="/">Keywords</a>
            <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
            <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse  justify-content-between" id="navbarSupportedContent">
            @{
                // TODO HERE: put search form instea of div:
            }
                <div id="searchForm"></div>
                <partial name="_LoginPartial" />    
            </div>
        </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - <a asp-area="" asp-controller="File" asp-action="Index">Keywords</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/md-bootstrap-5/js/mdb.min.js"></script>
    <script src="~/js/File/upload.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
